<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="../../static/news/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/news/css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="../../static/news/css/main.css">
    <script type="text/javascript" src="../../static/news/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../../static/news/js/jquery.pagination.min.js"></script>
</head>
<body class="inframe_body">
    <div class="news_list">
        <h3>新闻列表</h3>
        <ul class="article_list">

            {% for news in data.user_news_list %}


            <li><a href="user_news_release.html">{{ news.title }}</a><em class="{% if news.status==0 %}pass{% elif news.status==1 %}review{% elif news.status==-1 %}nopass{% endif %}">{% if news.status==0 %}已通过{% elif news.status==1 %}审核中{% elif news.status==-1 %}未通过{% endif %}</em><span>{{ news.create_time }}</span></li>
            <b>{% if news.status==-1 %}未通过原因：{{ news.reason }}{% endif %}</b>
            {% endfor %}

        </ul>
        <div id="pagination" class="page"></div>
        <script>
            $(function(){
                $("#pagination").pagination({
                    currentPage: {{ data.current_page }},
                    totalPage: {{ data.total_page }},
                    callback: function(current) {
                        window.location.href = "/profile/user_news_list?current_page=" + current
                    }
                });
            });
        </script>
       
    </div>
</body>
</html>